.users {
    display: flex;
    align-items: center;
}

.users-wrapper {
    position: relative;
}

.pagination {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.users-list {
    max-width: 650px;
    list-style: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}