.App {
    box-sizing: border-box;
    text-align: center;
}

.app-links {
    display: flex;
}

.app-links .app-link {
    margin: 10px;
}

.app-link {
    font-size: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

a {
    font-size: inherit;
    text-decoration: none;
}